<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a21q4_app_projekt">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_start"
        android:label="Find a Tutor"
        android:roundIcon="@drawable/logo_start"
        android:supportsRtl="true"
        android:theme="@style/Theme.21Q4_App_Projekt"
        android:usesCleartextTraffic="true">
        <activity
            android:name="activity.ProfActivity"
            android:exported="false" />
        <activity
            android:name="activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="activity.AboutYouActivity2"
            android:exported="false" />
        <activity android:name="activity.HomeActivity" />
        <activity android:name="activity.DataViewActivity" />
        <activity android:name="activity.SignUpActivity" />
        <activity android:name="activity.Splash" />
        <activity android:name="activity.AboutYouActivity" />
        <activity android:name="activity.OrderActivity" />
        <activity android:name="activity.MyOrdersActivity" />
        <activity
            android:name="activity.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>